@model CookBook.ViewModels.ReceitaCreateViewModel

@{
    ViewData["Title"] = "Criar Receita";
}

<h1>Create</h1>

<h4>Receita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoPreparoMinutos" class="control-label"></label>
                <input asp-for="TempoPreparoMinutos" class="form-control" />
                <span asp-validation-for="TempoPreparoMinutos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrucoes" class="control-label"></label>
                <input asp-for="Instrucoes" class="form-control" />
                <span asp-validation-for="Instrucoes" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Ingredientes Necessários</label>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="width: 50px;">Sel.</th>
                            <th>Ingrediente</th>
                            <th>Quantidade (Ex: 2 colheres de sopa)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* É NECESSÁRIO USAR O LOOP 'for' para mapeamento correto da lista *@
                        @for (int i = 0; i < Model.Ingredientes.Count; i++)
                        {
                            var ingrediente = Model.Ingredientes[i];
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="@Model.Ingredientes[i].IngredienteId" />
                                    <input type="hidden" asp-for="@Model.Ingredientes[i].NomeIngrediente" />
                                    
                                    <input type="checkbox" asp-for="@Model.Ingredientes[i].Selecionado" />
                                </td>
                                <td>
                                    @ingrediente.NomeIngrediente
                                </td>
                                <td>
                                    @* O campo de quantidade só é enviado se o checkbox for marcado *@
                                    <input asp-for="@Model.Ingredientes[i].Quantidade" class="form-control form-control-sm" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label asp-for="ImagemArquivo" class="control-label"></label>
                <input asp-for="ImagemArquivo" type="file" class="form-control" />
                <span asp-validation-for="ImagemArquivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
